<!doctype html>
<html>

<head>
  <% include ../partials/header %>
</head>

<body>
<a href = "students/new">Add a student</a>
  <% students.forEach(students => { %>
    <h2><%= students.fname %> <%= students.lname %></h2>
      <a href = "/houses/<%=students.house_id %>"><%= students.house_id %></a>
    <a href = "/students/<%=students.student_id %>"><img src="<%= students.image %>"></a>
  
  <% }); %>

</body>
<footer>
  <% include ../partials/footer %>
</footer>

</html>
