<% include ../partials/header.ejs %>
  <h2><%= house.name %></h2>
    <p><img src="<%= house.img_url %>"></p>
     <% students.forEach(student => { %>
    <h2><%= student.fname %> <%= student.lname %></h2>
    <p><img src="<%= student.image %>"></p>
  <% }); %>

<% include ../partials/footer.ejs %>